* {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
}
/* navbar styles */
.nav-title {
  display: flex;
}
.nav-title h2 {
  font-weight: 800;
}
.tech h2 {
  color: white;
}
.wave h2 {
  background: linear-gradient(90deg, #f7e93f, #fb09b4, #9100f8);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}
.navbar {
  background: rgba(26, 11, 46, 1);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px 150px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.21);
}
.nav-link ul {
  display: flex;
  gap: 32px;
}
.nav-btn button {
  color: white;
  font-size: 16px;
  padding: 12.5px 40px 12.5px 16px;
  background: var(
    --Linear,
    linear-gradient(
      47.64deg,
      rgba(247, 233, 63, 1),
      rgba(251, 9, 180, 1),
      rgba(145, 0, 248, 1)
    )
  );
  border-radius: 10000px;
  cursor: pointer;
}
.nav-btn {
  display: flex;
  justify-content: center;
  align-items: center;
}
.arrow {
  position: relative;
  left: -40px;
}
.hamburger-btn {
  display: none;
}
/* banner section styles */
.back {
  position: relative;
  width: 100%;
  height: 760px;
  overflow: hidden;
}
.wave-bg {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.circle {
  position: absolute;
  top: 100px;
  left: 50%;
  transform: translateX(-50%);
  width: 350px;
}
.micro {
  position: absolute;
  top: 36%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 130px;
}
.banner-container {
  position: relative;
  width: 100%;
  text-align: center;
  color: white;
  top: -250px;
  text-align: center;
}
.banner-section h2 {
  font-size: 60px;
  font-weight: 800;
}
.spotify-btn button {
  color: white;
  font-size: 16px;
  padding: 12px 20px 12px 48px;
  background: var(
    --Linear,
    linear-gradient(
      47.64deg,
      rgba(247, 233, 63, 1),
      rgba(251, 9, 180, 1),
      rgba(145, 0, 248, 1)
    )
  );
  border-radius: 10000px;
  cursor: pointer;
}
.spotify {
  position: relative;
  left: 48px;
  top: 4px;
}
.msg {
  position: relative;
  left: 30px;
  top: 4px;
}
.message-btn button {
  margin-left: -15px;
  color: #00ff88;
  font-size: 16px;
  padding: 12px 20px 12px 48px;
  background: none;
  border-radius: 10000px;
  cursor: pointer;
  border: 1px solid rgba(0, 255, 136, 1);
}
.hero-btn {
  margin-top: 24px;
  display: flex;
  justify-content: center;
}
.hero-section > p {
  margin-top: 8px;
}
.new-btn {
  position: relative;
  top: -390px;
  left: 850px;
  color: #1a0b2e;
  width: 43px;
  font-size: 18px;
  font-weight: 600;
  border-radius: 1000px;
  padding: 8px 16px;
  background-color: #00ff88;
  box-shadow: 0px 3px 27px 0px rgba(0, 255, 136, 0.5);
  animation: myanimation 10s 1s;
}
@keyframes myanimation {
  0% {
    background-color: #00ff88;
  }
  25% {
    background-color: red;
  }
  50% {
    background-color: yellow;
  }
  100% {
    background-color: rgb(4, 210, 247);
  }
}
.hero-img {
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 576px) {
  .hamburger-btn {
    display: inline;
  }
  .nav-link,
  .nav-btn {
    display: none;
  }
  .navbar {
    padding: 20px;
  }
  .new-btn {
    left: 65%;
  }
}
