* {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
}
/* navbar styles */
.nav-title {
  display: flex;
}
.nav-title h2 {
  font-weight: 800;
}
.tech h2 {
  color: white;
}
.wave h2 {
  background: linear-gradient(90deg, #f7e93f, #fb09b4, #9100f8);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}
.navbar {
  background: rgba(26, 11, 46, 1);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px 150px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.21);
}
.nav-link ul {
  display: flex;
  gap: 32px;
}
.nav-btn button {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  padding: 10px 30px 12.5px 16px;
  background: var(
    --Linear,
    linear-gradient(
      47.64deg,
      rgba(247, 233, 63, 1),
      rgba(251, 9, 180, 1),
      rgba(145, 0, 248, 1)
    )
  );
  border-radius: 10000px;
  cursor: pointer;
}

.arrow {
  position: relative;
  left: 8px;
  top: 5px;
}
.hamburger-btn {
  display: none;
}
/* banner section styles */
.back {
  position: relative;
  width: 100%;
  height: 760px;
  overflow: hidden;
}
.wave-bg {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.circle {
  position: absolute;
  top: 100px;
  left: 50%;
  transform: translateX(-50%);
  width: 350px;
}
.micro {
  position: absolute;
  top: 36%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 130px;
}
.banner-container {
  position: relative;
  width: 100%;
  text-align: center;
  color: white;
  top: -250px;
  text-align: center;
}
.banner-section h2 {
  font-size: 60px;
  font-weight: 800;
}
.spotify-btn button {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  padding: 10px 20px 12.5px 17px;
  background: var(
    --Linear,
    linear-gradient(
      47.64deg,
      rgba(247, 233, 63, 1),
      rgba(251, 9, 180, 1),
      rgba(145, 0, 248, 1)
    )
  );
  border-radius: 10000px;
  cursor: pointer;
}
.spotify {
  position: relative;
  right: 4px;
  top: 4px;
}
.msg {
  position: relative;
  left: -15px;
  top: 3px;
}
.message-btn button {
  color: #00ff88;
  font-size: 16px;
  padding: 10px 20px 12px 30px;
  background: none;
  border-radius: 10000px;
  cursor: pointer;
  border: 1px solid rgba(0, 255, 136, 1);
}
.hero-btn {
  margin-top: 24px;
  display: flex;
  justify-content: center;
  gap: 8px;
}
.hero-section > p {
  margin-top: 8px;
}
.new-btn {
  position: relative;
  top: -390px;
  left: 850px;
  color: #1a0b2e;
  width: 43px;
  font-size: 18px;
  font-weight: 600;
  border-radius: 1000px;
  padding: 8px 16px;
  background-color: #00ff88;
  box-shadow: 0px 3px 27px 0px rgba(0, 255, 136, 0.5);
  animation: myanimation 10s 1s;
}
@keyframes myanimation {
  0% {
    background-color: #00ff88;
  }
  25% {
    background-color: red;
  }
  50% {
    background-color: yellow;
  }
  100% {
    background-color: rgb(4, 210, 247);
  }
}
.hero-img {
  display: flex;
  justify-content: center;
}
/* podcast styles */
.podcast-section {
  background: rgba(26, 11, 46, 1);
  color: white;
}
.podcast-texts > h2 {
  font-size: 48px;
  font-weight: 700;
}
.podcast-texts > p {
  font-size: 16px;
  font-weight: 400;
  line-height: 35px;
}
.podcast-texts {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 150px;
}
.podcast-cards h2 {
  font-size: 48px;
  font-weight: 900;
  color: #00ff88;
}
.podcast-stats {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: center;
  text-align: center;
  padding-bottom: 120px;
}
/* choose styles */
.why-choose-section {
  background-color: #230e3d;
}
.choose-title h2 {
  font-size: 48px;
  font-weight: 700;
  text-align: center;
  color: white;
  margin-bottom: 40px;
}
.choose-cards {
  color: white;
  padding: 40px;
  background: rgba(53, 17, 101, 0.4);
  border-radius: 40px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 16px;
  place-content: center;
}
.choose-cards p {
  font-size: 16px;
  font-weight: 400;
}
.choose-cards h2 {
  font-size: 24px;
  font-weight: 700;
  margin: 16px 0px;
}
.choose-cards-div {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}
.choose-cards:nth-child(1) {
  grid-row: span 2;
}
.choose-cards:nth-child(2) {
  grid-column: span 2;
}
.choose-cards:nth-child(3) {
  grid-column: span 2;
}
.choose-cards:nth-child(4) {
  grid-column: span 2;
}
.choose-cards:nth-child(5) {
  grid-row: span 1;
}
.choose-container {
  padding: 120px 200px;
}

@media screen and (max-width: 576px) {
  .hamburger-btn {
    display: inline;
  }
  .nav-link,
  .nav-btn {
    display: none;
  }
  .navbar {
    padding: 20px;
  }
  .new-btn {
    left: 65%;
  }

  .podcast-texts > h2 {
    font-size: 32px;
  }
  .podcast-texts {
    padding: 70px 20px;
  }
  .podcast-cards h2 {
    font-size: 40px;
    font-weight: 900;
    color: #00ff88;
  }
  .podcast-stats {
    grid-template-columns: repeat(2, 1fr);
  }
  .choose-container {
    padding: 95px 20px;
  }
  .choose-title h2 {
    font-size: 32px;
  }
  .choose-cards-div {
    grid-template-columns: repeat(1, 1fr);
  }
  .choose-cards:nth-child(1),
  .choose-cards:nth-child(2),
  .choose-cards:nth-child(3),
  .choose-cards:nth-child(4),
  .choose-cards:nth-child(5) {
    grid-row: span 1;
    grid-column: span 1;
  }
}
